#problem {
  padding: 0;
}

#download {
  background-image: linear-gradient(#f58220, #008e97);
}

@media screen and (max-width: 834px) {
  #first-device {
    display: none;
  }
}

#content-stuff {
  font-size: 29px;
  color: #fff;
}
